.chart__data__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 600px;
    position: relative;
}
.total__schools__data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 40px 0;
}

.total__schools__data h2 {
    margin: 0;
    color: #777;
    font-size: 1.2rem;
    font-weight: 500;
}
.total__schools__data p {
    margin: 0;
    color: #777;
    font-size: 0.8rem;
}

.schools__data__container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow-y: auto;
    padding: 10px 60px;
}

.school__data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.school__info {
    display: flex;
    flex-direction: column;
}

.school__info h3 {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}
.school__info p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 500;
}

.lesson__num {
    font-weight: 600;
    font-size: 1.1rem;
}

.total__lessons__num {
    font-weight: 600;
    font-size: 1.4rem;
}

.empty__state {
    color: #8dd0fa;
    font-weight: 500;
}

.top__school__label {
    font-size: 13px;
    color: #fff;
    background-color: orange;
    top: -30px;
    width: 200px;
    right: -25px;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.top__school__label span {
    font-weight: 600;
}
