.details__data__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
}
.details__data {
    border-top: 3px solid rgb(236, 170, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 10px 0;
}
.details__data h2 {
    color: orange;
    font-size: 1.4rem;
}
.details__data h3 {
    padding: 5px;
    border-radius: 5px;
    color: gray;
    font-size: 1rem;
}

.back__link {
    text-decoration: none;
    background-color: orange;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-bottom: 20px;
}
