/*
    CSS FOR HEADER SECTION
*/
.header__container {
    color: #a46dd2;
}
.header__container h1 {
    font-weight: 600;
    font-size: 2rem;
}
.header__container h2 {
    font-weight: 400;
    font-size: 1.3rem;
}
