@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f6fa;
}

/*
    CSS FOR CONTAINER
*/
.container {
  padding: 0 40px;
}

.loading__container {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
